--- 
layout: default 
---

<section class="hero is-primary is-medium has-text-centered is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ site.title }}</h1>
            <p class="subtitle">compartilhando conhecimento</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% if page.url == "/" %}
        <div class="notification">
            <button class="delete"></button>
            <strong>Em breve:</strong>
            <ul>
                <li>- Alura: Todas as trilhas completas</li>
                <!-- <li>- Solid Treinamentos: Teste de Intrusão em Redes Wireless (Wi-Fi)</li> -->
                <li>- Udemy: Curso de AWS</li>
                <li>- Udemy: Fundamentos de programação em Java</li>
                <li>- Udemy: Curso de JavaServer Faces e PrimeFaces Completo</li>
                <li>- Udemy: Orientação a Objetos com Java</li>
                <li>- Udemy: Photoshop CC 2017 Completo - do Iniciante ao Avançado</li>
                <li>- Udemy: Indesign CC 2017 Completo - do Iniciante ao Avançado</li>
                <li>- Mário Vergara: Curso de inglês 4.0</li>
            </ul>
            <br>
            <span class="icon">
                <i class="icon-bitcoin"></i>
            </span>
            Ajude na aquisição de novos cursos doando qualquer valor em Bitcoin: <b>1BdRaDt3eFFRNPTZEPoqCb7ctib7xeBCXT</b>
        </div>
        {% endif %}
        <div class="post-ad">
            <iframe data-aa='774440' src='//ad.a-ads.com/774440?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
        </div>
        {% for post in paginator.posts %}
            <article class="card main-card">
                <div class="card-content">
                    <div class="content">
                        <h2 class="subtitle"><a href="{{ post.url }}" style="color: inherit;" target="_self">{{ post.title }}</a></h2>
                        <p>{{ post.description }}</p>
                        <p>
                            <span class="tag"><b>{{ post.server }}</b></span>
                            <span class="tag"><b>Tamanho</b>: {{ post.size }}</span>
                        </p>
                        <span class="main-post-date is-pulled-right">
                            <i class="icon-calendar"></i>
                            {% include post-date.html %}
                        </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span class="tag is-{% if post.status %}success{% else %}danger{% endif %}">status: {% if post.status %}on{% else %}off{% endif %}</span>
                    </p>
                    <p class="card-footer-item">
                        <a href="{{ post.url }}" class="button is-outlined" target="_self">
                            <span class="icon">
                                <i class="icon-download-cloud"></i>
                            </span>
                            <span>Download</span>
                        </a>
                    </p>
                </footer>
            </article>
        {% endfor %}
        
        <!-- Pagination links -->
        <nav class="pagination is-centered is-medium">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="pagination-previous">
                    <span class="icon">
                        <i class="icon-angle-double-left"></i>
                    </span>
                    <span>Anterior</span>
                </a>
            {% else %}
                <a href="#0" class="pagination-previous" disabled>Anterior</a>
            {% endif %}
            
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="pagination-next">
                    <span>Próximo</span>
                    <span class="icon">
                        <i class="icon-angle-double-right"></i>
                    </span>
                </a>
            {% else %}
                <a href="#0" class="pagination-next" disabled>Próximo</a>
            {% endif %}
        </nav>   
        <!-- End Pagination links -->
    </div>
</section>
